@model IEnumerable<artgallery.Models.ArtGallery>


@{
    ViewBag.Title = "ArtGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="main">
    <div class="breadcrumb" style="background-color:black">
        <!-- *BreadCrumb Starts here** -->
        <div class="container">
            <h2>Shop <span>Art</span></h2>
            <div class="user-summary">
                <div class="account-links">
                    <a href="#">My Account</a>
                    <a href="#">Checkout</a>
                </div>
                <div class="cart-count">
                    <a href="#">Shopping Bag: 0 items</a>
                    <a href="#">($0.00)</a>
                </div>
            </div>
        </div>
    </div><!-- *BreadCrumb Ends here** -->
    <section id="primary" class="content-full-width">
        <!-- **Primary Starts Here** -->
        <div class="container">
            <div class="main-title animate" data-animation="pullDown" data-delay="100">
                <h3> Shop </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            </div>
        </div>
        <div class="fullwidth-section shop-grid">
            <!-- Full-width section Starts Here -->
            <div class="sorting-products">
                <!-- sorting-products Starts Here -->
                <div class="dt-sc-one-fifth column first">
                    <div class="categories">
                        <h5>Categories</h5>
                        @Html.DropDownList("categoryList", (IEnumerable<SelectListItem>)ViewBag.categorylist, "Select Category", htmlAttributes: new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.ArtCategory, ViewBag.categorylist as SelectList, htmlAttributes: new { @class = "form-control" })*@
                        @*<div class="selection-box">
                                <select class="shop-dropdown">
                                    <option value="-1" selected>Choose your category</option>
                                    <option value="1" class="fa fa-fire-extinguisher">Canvas Print</option>
                                    <option value="1" class="fa fa-camera-retro">Photogenic Art</option>
                                    <option value="3" class="fa fa-pencil">Sketches</option>
                                    <option value="4" class="fa fa-eyedropper">Dropper Painting</option>
                                </select>
                            </div>*@
                    </div>
                </div>
                @*<div class="dt-sc-one-fifth column">
                        <div class="categories">
                            <h5>Sort By</h5>
                            <div class="selection-box">
                                <select class="shop-dropdown">
                                    <option value="-1" selected>Sort by</option>
                                    <option value="1" class="fa fa-mortar-board">Popular Artist</option>
                                    <option value="2" class="fa fa-money">Best Seller</option>
                                    <option value="3" class="fa fa-thumb-tack">Featured Art</option>
                                    <option value="4" class="fa fa-child">New Artist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-one-fifth column">
                        <div class="categories">
                            <h5>Art Type</h5>
                            <div class="selection-box">
                                <select class="shop-dropdown">
                                    <option value="-1" selected>Choose your type</option>
                                    <option value="1" class="fa fa-flask">Acrylic</option>
                                    <option value="2" class="fa fa-paint-brush">Oil Painting</option>
                                    <option value="2" class="fa fa-scissors">Sculpture</option>
                                    <option value="3" class="fa fa-tint">Water Painting</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dt-sc-one-fifth column">
                        <div class="categories">
                            <h5>Size &amp; Shape</h5>
                            <div class="selection-box">
                                <select class="shop-dropdown">
                                    <option value="-1" selected>Choose your shape</option>
                                    <option value="1" class="fa fa-picture-o">Landscape</option>
                                    <option value="2" class="fa fa-barcode">Portrait</option>
                                    <option value="3" class="fa fa-area-chart">Skew Framed</option>
                                </select>
                            </div>
                        </div>
                    </div>*@

            </div><!-- sorting-products Ends Here -->
            <ul class="products isotope">



                <!--<li class="product-wrapper dt-sc-one-fifth">-->
                <!-- **product-wrapper - Starts** -->
                <!-- **product-container - Starts** -->
                <!--<div class="product-container">
                    <a href="shop-detail.html"><div class="product-thumb"> <img src="~/Content/images/product-1.jpg" alt="image" /> </div> </a>-->
                <!-- **product-title - Starts** -->
                <!--<div class="product-title">
                    <a href="shop-cart.html" class="type1 dt-sc-button"> <span class="fa fa-shopping-cart"></span> Add to Cart </a>
                    <a href="#" class="type1 dt-sc-button"> <span class="fa fa-unlink"></span> Options </a>
                    <p>You don't take a photograph, Just make it</p>
                </div>-->
                <!-- **product-title - Ends** -->
                <!--</div>--> <!-- **product-container - Ends** -->
                <!-- **product-details - Starts** -->
                <!--<div class="product-details">
                    <h5> <a href="shop-detail.html"> Ellents Style Grade </a> </h5>
                    <span class="amount"> $25 </span>
                </div>-->
                <!-- **product-details - Ends** -->
                <!--</li>--><!-- **product-wrapper - Ends** -->


                @foreach (var item in Model)
                {
                    <li class="product-wrapper dt-sc-one-fifth">
                        <!-- **product-wrapper - Starts** -->
                        <!-- **product-container - Starts** -->
                        <div class="product-container">
                            <a href="shop-detail.html"><div class="product-thumb"><img src="@Url.Content(item.ArtPic)" /> </div> </a>
                            <!-- **product-title - Starts** -->
                            <div class="product-title">
                                <a href="@Url.Action("", "")" class="type1 dt-sc-button"> <span class="fa fa-shopping-cart"></span> Add to Cart </a>
                                <a href="@Url.Action("", "")" class="type1 dt-sc-button"> <span class="fa fa-unlink"></span> Details </a>
                                <p>@Html.DisplayFor(modelItem => item.ArtDescription)</p>
                            </div> <!-- **product-title - Ends** -->
                        </div> <!-- **product-container - Ends** -->
                        <!-- **product-details - Starts** -->
                        <div class="product-details">
                            <h5>  @Html.DisplayFor(modelItem => item.ArtTitle) </h5>
                            <span class="amount"> $@Html.DisplayFor(modelItem => item.ArtPrice) </span>
                        </div> <!-- **product-details - Ends** -->
                    </li><!-- **product-wrapper - Ends** -->

                    @*
                        @Html.DisplayFor(modelItem => item.ArtPic)
                        @Html.DisplayFor(modelItem => item.IsSold) //sold or not funct decides what to display





                        @Html.DisplayFor(modelItem => item.ArtCategory1.cat_name) //goes into category


                        @Html.DisplayFor(modelItem => item.Member.memberFirstName)*@
                }




            </ul>

        </div>

    </section><!-- **Primary Ends Here** -->
</div><!-- Full-width section Ends Here -->

