@model artgallery.Models.Member
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <h2>User Account</h2>
    <h4 class="text-success"> Welcome @Session["UName"] ... </h4>

    <p>
        <ul>

            <li>@Html.ActionLink("Upload New Art", "Upload", "SimpleArtGallery");</li>
            <li>@Html.ActionLink("Buy Art", "Index", "SimpleArtGallery");</li>

            <li>@Html.ActionLink("Upload To Auction Art", "Upload", "AuctionGallery");</li>
            <li>@Html.ActionLink("Start Bidding", "Index", "AuctionGallery");</li>

            <li>@Html.ActionLink("LogOut", "Logout", "Customer")</li>
        </ul>

        

    </p>
</div>

